* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-container {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPISM7cM22OZkgjAI7alYzVf_4Y7krlXNiyA&usqp=CAU");
    text-align: center;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hyper-link {
    margin: 10px;
    border-width: 2px;
}

.top {
    padding-top: 15px;
    padding-bottom: 15px;
}


header {
    padding: 20px;
    background-color: transparent;
}

header h1 {
    color: skyblue;
    font-family: "roboto";
    font-size: 35px;
    font-weight: bold;
}

header p {
    color: grey;
    font-size: 20px;
    font-weight: 400;
    font-family: "roboto";
}


.container {
    display: inline-block;
    /* position: relative; */
    width: 500px;
    height: 420px;
    background-color: grey;
    padding: 20px;
    border: 3px solid black;
    border-radius: 16px;

}

label {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    font-family: sans-serif;

}

input {
    padding: 3px 3px;
    margin: 10px;
    height: 35px;
    border-radius: 2px;
    border-color: black;
    transition: .3s border-color;
}

#givenscale {
    height: 35px;
    width: 120px;
    font-size: 16px;
    font-family: "roboto";
    font-weight: bold;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
}

#tempscale {
    height: 35px;
    width: 120px;
    font-size: 16px;
    font-family: "roboto";
    font-weight: bold;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
}

#temp {
    height: 35px;
    width: 60px;
    font-size: 18px;
    font-family: "roboto";
    font-weight: bold;
    border-radius: 6px;
    border-color: black;
}



#submitbtn {
    height: 2.5rem;
    width: 7rem;
    font-family: "roboto";
    font-weight: bold;
    border-style: solid;
    color: white;
    border-radius: 6px;
    border-color: white;
    font-size: 20px;
}

#resultContainer {
    margin: 15px;
    padding: 15px;
    background-color: whitesmoke;
    font-size: 20px;
    border-radius: 6px;
    border-color: whitesmoke;
    border: white;
    border-style: solid;
    font-family: "roboto";
    font-weight: bold;
}


#footer {
    position: fixed;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-size: 25px;
}
